.container {
  display: flex;  
  flex-flow: row wrap;
}

.container > * {
  padding: 10px;
  margin : 3px;
}

header {
  background: black;
  color : white;
  order : 1 ;
  width : 100%;
}

footer {
  background: black;
  color : white;
  order : 5 ;
  width : 100%;
}

.main {
  background: #f3f2f3;
  flex : 3 0 0px;
  order : 3 ;
  height : 400px;
  overflow : auto ;
}

#aside1 {
  background: #E4E3AC;
  order : 2 ;
  flex : 1 0 0px;
}

#aside2 {
  background: #E4E3AC;
  order  : 4 ; 
  flex : 1 0 0px;
}

body {
  padding: 2em; 
}
